{% extends './layout.html' %}

{% block title %}Carrito{% endblock %}

{% block body %}


<section class="flex justify-center flex-col gap-6 lg:gap-12 px-4 sm:px-6 mt-28 lg:mt-32">
    <h2 class="text-4xl font-bold text-white text-center">Carrito</h2>

    <div class="flex flex-col gap-4 sm:flex-row-reverse justify-center items-stretch sm:gap-6">
        <div class="flex justify-center items-center flex-col gap-8 ">
            <!-- Sumario -->
            <div class="bg-[#1B1A1A] text-white flex flex-col justify-start py-6 md:py-10 px-6 rounded w-full min-[568px]:max-w-[500px] lg:max-w-[450px]">
                
                <p class="font-bold text-left text-[25px]">Sumario</p>
                
                <div class="flex flex-col justify-center items-center gap-4 pl-4 py-6">
                    <div class="flex flex-row justify-between w-full items-start">
                        <p class="text-white font-bold">Subtotal</p>
                        <p class="text-[#C40C0C] font-bold">199.99€</p>
                    </div>

                    <div class="flex flex-row justify-between w-full items-start">
                        <p class="text-white font-bold">Envío</p>
                        <p class="text-[#C40C0C] font-bold">Gratis</p>
                    </div>

                    <hr class="bg-white w-full h-[2px]">

                    <div class="flex flex-row justify-between w-full items-start">
                        <p class="text-white font-bold">Total</p>
                        <p class="text-[#C40C0C] font-bold">199.99€</p>
                    </div>
                </div>
            
                <a class="w-full bg-[#C40C0C] text-white rounded py-2 font-bold text-[16px] text-center cursor-pointer">
                    Finalizar compra
                </a>
            
            </div>

            <!-- Elefante -->
            <div class="flex items-center justify-center">
                <img 
                src="{{url_for('static',filename='images/footer_personajes/elefante_cart.png')}}" 
                alt="Personaje Izquierdo"
                class="w-1/2 "
                />
            </div>
        </div>

   
        <div class="max-h-[600px] h-[25rem] md:h-[30rem] lg:h-[40rem] overflow-y-auto scrollbar-hide flex flex-col justify-start items-center gap-6">

            <!-- Tarjeta individual -->
            <div class="relative w-full max-w-[800px] sm:max-w-[650px] bg-[#1B1A1A] border-2 border-[#C40C0C] rounded p-4 flex flex-row items-center gap-4">

                <!-- Botón de cerrar -->
                <button class="absolute top-2 right-2 text-[#C40C0C] sm:text-[20px]">
                    <i class="fa-solid fa-circle-xmark"></i>
                </button>

                <!-- Precio -->
                <p class="absolute bottom-2 right-4 text-[#C40C0C] font-bold text-[12px] sm:text-[16px]">
                    49.99€
                </p>

                <!-- Imagen del producto -->
                <div class="w-32 min-[568px]:w-32 sm:w-40">
                    <img src="{{url_for('static',filename='images/productos/estructuras/torre_paralelas_dominadas_kraftboost.png')}}"
                        alt="Producto"
                        class="w-full h-full object-cover" />
                </div>

                <!-- Nombre del producto y controles -->
                <div class="flex flex-col justify-between h-full gap-2 min-[568px]:pr-10"> 
                    <p class="text-white font-bold text-[12px] sm:text-[16px]">
                        Torre Paralelas y Dominadas Estructura Kraftboost
                    </p>

                    <div class="flex items-center gap-3">
                        <button class="text-[#C40C0C] text-[20px]">
                            <i class="fa-solid fa-circle-minus"></i>
                        </button>
                        <p class="text-white font-bold text-[12px] sm:text-[18px]">5</p>
                        <button class="text-[#C40C0C] text-[20px]">
                            <i class="fa-solid fa-circle-plus"></i>
                        </button>
                    </div>
                </div>
            </div>

            
            

        </div>
    </div>

</section>

<div class="w-full flex justify-between ">
    <!-- Personaje Izquierdo -->
    <img 
      src="{{url_for('static',filename='images/footer_personajes/rino_footer.png')}}" 
      alt="Personaje Izquierdo"
      class="bottom-[270px] right-0 translate-y-[30%] w-[20vh] min-[568px]:w-[60vh] sm:w-[60vh] landscape:md:w-[60vh] md:w-[30vh] md:mb-[55px] landscape:lg:w-[50vh] landscape:lg:h-[55vh]  landscape:lg:mb-[90px] max-[320px]:mb-[25px] mb-[40px] z-[-1]"
    />

    <!-- Personaje Derecho -->
    <img 
      src="{{url_for('static',filename='images/footer_personajes/oso_footer.png')}}" 
      alt="Personaje Derecho"
      class="bottom-[270px] right-0 translate-y-[30%] w-[20vh] min-[568px]:w-[60vh] sm:w-[60vh] landscape:md:w-[60vh] md:w-[30vh] md:mb-[55px] landscape:lg:w-[50vh] landscape:lg:h-[55vh]  landscape:lg:mb-[90px] max-[320px]:mb-[25px] mb-[40px] z-[-1]"
    />
</div>

{% endblock %}