<!-- Menu admin -->
<div class="mt-8 flex justify-center items-center max-[320px]:gap-6 gap-2 lg:gap-4 bg-[#443E3E] text-white font-bold rounded w-5/6 min-[568px]:w-4/6 sm:w-3/6 lg:w-[40%] xl:w-[30%] h-12 lg:h-14">

    <a href="{{url_for('admin.orders')}}"
       class="flex flex-col items-center justify-center h-full p-2 
       max-[320px]:text-[20px] text-[12px] min-[568px]:text-[15px] lg:text-[16px]
       {% if '/admin/order' in request.path %} bg-[#C40C0C] {% endif %}">
        <div class="flex flex-col justify-center items-center">
            <i class="fa-solid fa-box"></i>
            <p class="max-[320px]:hidden">Pedidos</p>
        </div>
    </a>

    <a href="{{url_for('admin.users')}}"
       class="flex flex-col items-center justify-center h-full p-2 
       max-[320px]:text-[20px] text-[12px] min-[568px]:text-[15px] lg:text-[16px]
       {% if '/admin/users' in request.path %} bg-[#C40C0C] {% endif %}">
        <div class="flex flex-col justify-center items-center">
            <i class="fa-solid fa-users-gear"></i>
            <p class="max-[320px]:hidden">Usuarios</p>
        </div>
    </a>

    <a href="#"
       class="flex flex-col items-center justify-center h-full p-2 
       max-[320px]:text-[20px] text-[12px] min-[568px]:text-[15px] lg:text-[16px]
       {% if '/admin/register_admin' in request.path %} bg-[#C40C0C] {% endif %}">
        <div class="flex flex-col justify-center items-center">
            <i class="fa-solid fa-user-plus"></i>
            <p class="max-[320px]:hidden">+Admin</p>
        </div>
    </a>

    <a href="{{url_for('admin.products')}}"
       class="flex flex-col items-center justify-center h-full p-2 
       max-[320px]:text-[20px] text-[12px] min-[568px]:text-[15px] lg:text-[16px]
       {% if '/admin/products' in request.path %} bg-[#C40C0C] {% endif %}">
        <div class="flex flex-col justify-center items-center">
            <i class="fa-solid fa-file-pen"></i>
            <p class="max-[320px]:hidden">Productos</p>
        </div>
    </a>

</div>