{% extends './layout.html' %}

{% block title %}Pedido {{pedido.numero_pedido}}{% endblock %}

{% block body %}


{% if referrer %}
<a href="{{referrer}}" class="absolute top-24 md:top-28 left-4 bg-[#C40C0C] hover:bg-[#a50a0a] text-white font-bold py-2 px-4 rounded z-1">← Volver</a>
{% else %}
<a href="{{url_for('admin.orders')}}" class="absolute top-24 md:top-28 left-4 bg-[#C40C0C] hover:bg-[#a50a0a] text-white font-bold py-2 px-4 rounded z-1">← Volver</a>
{% endif %}
<section class="flex flex-col justify-center items-center px-4 py-4 gap-4 mt-32 sm:mt-24 mb-12 text-white">
    

    <h1 class="font-bold text-center text-[30px]">Pedido: {{pedido.numero_pedido}}</h1>

        <div class="flex flex-col md:flex-row justify-center items-stretch gap-4 lg:gap-8">
            <div class="w-full max-w-[400px] min-[568px]:max-w-[500px] md:max-w-[500px] bg-[#443E3E] flex py-2 px-4  max-[320px]:gap-4 gap-12 min-[568px]:gap-52 md:gap-2 lg:gap-12 xl:gap-32 rounded pb-12 md:pb-4">
                <div class="flex flex-col ">
                    <p class="font-bold text-[20px] whitespace-nowrap">Forma de Pago:</p>
                    <p class="font-bold text-[15px] pl-2">Tarjeta de crédito</p>
                </div>

                <div class="w-full">
                    <img src="{{url_for('static', filename='images/datos_pedidos/tarjetas.webp')}}" alt="">
                </div>
            </div>

            <div class="w-full max-w-[400px] min-[568px]:max-w-[500px] md:max-w-[500px] bg-[#443E3E] flex py-2 px-4  max-[320px]:gap-4 gap-12 min-[568px]:gap-52 md:gap-2 lg:gap-12 xl:gap-32 rounded pb-12 md:pb-4">
                <div class="flex flex-col ">
                    <p class="font-bold text-[20px] whitespace-nowrap">Forma de Envío:</p>
                    <p class="font-bold text-[15px] pl-2">Nacex 24h</p>
                </div>

                <div class="w-full">
                    <img src="{{url_for('static', filename='images/datos_pedidos/nacex.webp')}}" alt="">
                </div>
            </div>

            <div class="w-full max-w-[400px] min-[568px]:max-w-[500px] md:max-w-[500px] bg-[#443E3E] flex py-2 px-4  max-[320px]:gap-4 gap-12 min-[568px]:gap-52 md:gap-2 lg:gap-12 xl:gap-32 rounded pb-12 md:pb-4">
                <div class="flex flex-col ">
                    <p class="font-bold text-[20px] whitespace-nowrap">Dirección de Envío:</p>
                    <p class="font-bold text-[15px] pl-2">{{pedido.nombre_destinatario}}</p>
                    <p class="font-bold text-[15px] pl-2">{{pedido.domicilio}}</p>
                    <p class="font-bold text-[15px] pl-2">{{pedido.codigo_postal}} {{pedido.localidad}}</p>
                    <p class="font-bold text-[15px] pl-2">Puerta: {{pedido.puerta}}</p>
                    <p class="font-bold text-[15px] pl-2">España</p>
                </div>

            </div>
        </div>

        
        <div class="w-full flex flex-col lg:flex-row justify-center items-center lg:items-stretch gap-12 lg:gap-24 xl:gap-52 mt-8">
            
            <div class="flex flex-col lg:flex-col min-[568px]:flex-row justify-center items-center gap-12 md:gap-24 md:mt-12 mt-4">
                <div class="flex flex-col justify-center items-center gap-4 lg:gap-2">
                    <i class="fa-solid fa-basket-shopping text-[40px]"></i>
                    <i class="fa-solid fa-check text-green-500 text-[40px]"></i>
                    <p class="text-[20px] font-bold text-center">Pedido Registrado</p>
                </div>

                <div class="flex flex-col justify-center items-center gap-4 lg:gap-2">
                    <i class="fa-solid fa-box text-[40px]"></i>
                    <i class="fa-solid fa-check text-green-500 text-[40px]"></i>
                    <p class="text-[20px] font-bold text-center">Paquete en Reparto</p>
                </div>

                <div class="flex flex-col justify-center items-center gap-4 lg:gap-2">
                    <i class="fa-solid fa-people-carry-box text-[40px]"></i>
                    {% if pedido.enviado==1 %}
                    <i class="fa-solid fa-check text-green-500 text-[40px]"></i>
                    {% else %}
                    <i class="fa-solid fa-xmark text-[#C40C0C] text-[40px]"></i>
                    {% endif %}
                    <p class="text-[20px] font-bold text-center">Paquete Enviado</p>
                </div>

            </div>
        
        
        
            <div class="flex flex-col justify-center items-center gap-4">
                <h1 class="font-bold text-center text-[30px]">Total: {{pedido.precio_total}}€</h1>

                <div class="max-h-[600px] h-[25rem] md:h-[30rem] lg:h-[40rem] overflow-y-auto scrollbar-hide flex flex-col justify-start items-center gap-6">

                    {% for producto in productos %}
                    <!-- Tarjeta individual -->
                    <div class="relative w-full max-w-[800px] sm:max-w-[650px] lg:w-[1000px] bg-[#1B1A1A] border-2 border-[#C40C0C] rounded p-4 flex flex-row items-center gap-4">

                        <!-- Precio -->
                        <p class="absolute bottom-2 right-4 text-[#C40C0C] font-bold text-[12px] sm:text-[16px]">
                            {{producto.precio}}€
                        </p>

                        <!-- Imagen del producto -->
                        <div class="w-32 min-[568px]:w-32 sm:w-40">
                            <img src="{{url_for('static', filename=producto.imagen)}}"
                                alt="Producto"
                                class="w-full h-full object-cover" />
                        </div>

                        <!-- Nombre del producto y controles -->
                        <div class="flex flex-col justify-between h-full gap-2 min-[568px]:pr-10"> 
                            <p class="text-white font-bold text-[12px] sm:text-[16px]">
                                {{producto.nombre}}
                            </p>

                            <div class="flex items-center gap-3">
                                <p class="text-white font-bold text-[12px] sm:text-[18px]">Cantidad: {{producto.cantidad}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    


                    
                </div>

            
            </div>

        </div>

    </section>

  

{% endblock %}