{% extends './layout.html' %}

{% block title %}Pedidos{% endblock %}

{% block body %}

<!-- Secccion -->
<section class="flex flex-col justify-center items-center mt-[80px] md:mt-[120px] mb-12 gap-4">

    {% include 'menu_admin.html' %}

    <h1 class="text-white font-bold text-[30px] xl:text-[40px] text-center">Pedidos</h1>

    {% if pedidos %}
    <div class="w-full px-4 py-8 flex flex-col items-center text-white">
        <div class="overflow-x-auto w-full max-w-[1200px] rounded scrollbar-hide">
            <table class="w-full whitespace-nowrap border-none">
                <thead class="text-white bg-[#C40C0C]">
                    <tr>
                    <th class="px-4 py-3 text-[20px] md:text-[25px] font-bold text-center">Número</th>
                    <th class="px-4 py-3 text-[20px] md:text-[25px] font-bold text-center">Usuario</th>
                    <th class="px-4 py-3 text-[20px] md:text-[25px] font-bold text-center">Fecha</th>
                    <th class="px-4 py-3 text-[20px] md:text-[25px] font-bold text-center">Total</th>
                    <th class="px-4 py-3 text-[20px] md:text-[25px] font-bold text-center">Estado</th>
                    <th class="px-4 py-3 text-[20px] md:text-[25px] font-bold text-center">Acciones</th>
                    </tr>
                </thead>
            
                <tbody>
                    {% for pedido in pedidos %}
                        <tr class="odd:bg-[#1f1f1f] even:bg-[#2a2a2a]">
                        <td class="px-4 py-3 text-[16px] md:text-[18px] font-semibold text-center">{{pedido.numero_pedido}}</td>
                        <td class="px-4 py-3 text-[16px] md:text-[18px] font-semibold text-center">{{pedido.username}}</td>
                        <td class="px-4 py-3 text-[16px] md:text-[18px] font-semibold text-center">{{pedido.fecha_compra}}</td>
                        <td class="px-4 py-3 text-[16px] md:text-[18px] font-semibold text-center">{{pedido.precio_total}}€</td>
                        {% if pedido.enviado==1 %}
                            <td class="px-4 py-3 text-[16px] md:text-[18px] font-semibold text-center text-green-500"><i class="fa-solid fa-check"></i> Entregado</td>
                        {% else %}
                            <td class="px-4 py-3 text-[16px] md:text-[18px] font-semibold text-center text-[#C40C0C]"><i class="fa-solid fa-xmark"></i> Pendiente</td>
                        {% endif %}
                            <td class="px-4 py-3 text-[16px] md:text-[18px] font-semibold text-center">
                                <div class="flex justify-center gap-4">
                                {% if pedido.enviado==1 %}
                                    <a href="{{url_for('admin.setEnviadoOrder',id=pedido.id)}}" class="text-center bg-[#C40C0C] px-3 py-1 rounded text-[15px]">Desactivar</a>
                                {% else %}
                                    <a href="{{url_for('admin.setEnviadoOrder',id=pedido.id)}}" class="text-center bg-[#10902C] px-3 py-1 rounded text-[15px]">Activar</a>
                                {% endif %}
                                <a href="{{url_for('admin.order',id=pedido.id)}}" class="text-center bg-[#102190] px-3 py-1 rounded text-[15px]">Ver Detalles</a>
                                <a href="{{url_for('admin.delete_order',id=pedido.id)}}" class="text-center bg-[#C40C0C] px-3 py-1 rounded text-[15px]">Eliminar</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                
                </tbody>
            </table>
        </div>
    </div>
    {% else %}

    <div class="flex flex-col justify-center items-center gap-2">
        <p class="text-[80px] sm:text-[100px] text-[#C40C0C] rounded-full"><i class="fa-solid fa-xmark"></i></p>
        <p class="text-white text-center text-[30px] font-semibold">No hay pedidos</p>
    </div>

    {% endif %}

   

</section>

  <div class="w-full flex justify-between ">
    <!-- Personaje Izquierdo -->
    <img 
      src="{{url_for('static',filename='images/footer_personajes/rino_footer.webp')}}" 
      alt="Personaje Izquierdo"
      class="bottom-[270px] right-0 translate-y-[30%] w-[20vh] min-[568px]:w-[60vh] sm:w-[60vh] landscape:md:w-[60vh] md:w-[30vh] md:mb-[55px] landscape:lg:w-[50vh] landscape:lg:h-[55vh]  landscape:lg:mb-[90px] max-[320px]:mb-[25px] mb-[40px] z-[-1]"
    />

    <!-- Personaje Derecho -->
    <img 
      src="{{url_for('static',filename='images/footer_personajes/oso_footer.webp')}}" 
      alt="Personaje Derecho"
      class="bottom-[270px] right-0 translate-y-[30%] w-[20vh] min-[568px]:w-[60vh] sm:w-[60vh] landscape:md:w-[60vh] md:w-[30vh] md:mb-[55px] landscape:lg:w-[50vh] landscape:lg:h-[55vh]  landscape:lg:mb-[90px] max-[320px]:mb-[25px] mb-[40px] z-[-1]"
    />
  </div>

  

{% endblock %}