{% extends './layout.html' %}

{% block title %}Register{% endblock %}

{% block body %}

<section class="flex flex-col justify-center items-center mt-[80px] md:mt-[120px] mb-12 gap-4">
    <h1 class="text-[#C40C0C] font-bold text-[30px] xl:text-[40px]">KRAFTBOOST</h1>
    
    <form action="{{url_for('auth.register')}}" method="post" class="flex flex-col justify-center items-center gap-6 text-white px-4">

        
        {{form.hidden_tag()}}  

        
         {% with messages=get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <span class="text-[#C40C0C] text-md font-semibold">{{msg}}</span>
                {% endfor %}
            {% endif %}
        {% endwith %}

         
        
         <div class="flex flex-row justify-center items-center gap-2">
            <div class="flex justify-center items-start flex-col w-1/2">
                {{form.nombre.label(class="font-bold")}}
                {{form.nombre(placeholder='Nombre',class="bg-[#1B1A1A] text-white px-8 pl-4 py-2 lg:px-12 lg:pl-2 xl:py-2 xl:pl-4 xl:px-24 rounded text-left outline-none w-full")}}

                {% if form.nombre.errors %}
                    <p class="text-[12px] text-[#C40C0C] mt-1">{{form.nombre.errors[0]}}</p>
                {% elif form.apellidos.errors %}
                <!-- Lo pongo para que no se descuadren los inputs -->
                    <p class="text-[12px] text-black mt-1 opacity-0">This field is required</p>
                {% endif %}
            </div>
            

            <div class="flex justify-center items-start flex-col w-1/2">
                {{form.apellidos.label(class="font-bold")}}
                {{form.apellidos(placeholder='Apellidos',class="bg-[#1B1A1A] text-white px-8 pl-4 py-2 lg:px-12 lg:pl-2 xl:py-2 xl:pl-4 xl:px-24 rounded text-left outline-none w-full")}}

                {% if form.apellidos.errors %}
                    <p class="text-[12px] text-[#C40C0C] mt-1">{{form.apellidos.errors[0]}}</p>
                {% elif form.nombre.errors %}
                <!-- Lo pongo para que no se descuadren los inputs -->
                    <p class="text-[12px] text-black mt-1 opacity-0">This field is required</p>
                {% endif %}
            </div>
        
        </div>
        

        <div class="flex justify-center items-start flex-col w-full">
            {{form.email.label(class="font-bold")}}
            {{form.email(placeholder='Correo electrónico',class="bg-[#1B1A1A] text-white px-8 pl-4 py-2 lg:px-12 lg:pl-2 xl:py-2 xl:pl-4 xl:px-24 rounded text-left outline-none w-full")}}

            {% if form.email.errors %}
                <p class="text-[12px] text-[#C40C0C] mt-1">{{form.email.errors[0]}}</p>
            {% endif %}
        </div>

        <div class="flex justify-center items-start flex-col w-full">
            {{form.username.label(class="font-bold")}}
            {{form.username(placeholder='Username',class="bg-[#1B1A1A] text-white px-8 pl-4 py-2 lg:px-12 lg:pl-2 xl:py-2 xl:pl-4 xl:px-24 rounded text-left outline-none w-full")}}

            {% if form.username.errors %}
                <p class="text-[12px] text-[#C40C0C] mt-1">{{form.username.errors[0]}}</p>
            {% endif %}
        </div>


        
        <div class="flex flex-row justify-center items-center gap-2">
            <div class="flex justify-center items-start flex-col w-1/2">
                {{form.password.label(class="font-bold")}}
                {{form.password(placeholder='Contraseña',class="bg-[#1B1A1A] text-white px-8 pl-4 py-2 lg:px-12 lg:pl-2 xl:py-2 xl:pl-4 xl:px-24 rounded text-left outline-none w-full")}}

                {% if form.password.errors %}
                    <p class="text-[12px] text-[#C40C0C] mt-1">{{form.password.errors[0]}}</p>
                {% elif form.confirm.errors %}
                <!-- Lo pongo para que no se descuadren los inputs -->
                    <p class="text-[12px] text-black mt-1 opacity-0">This field is required</p>
                {% endif %}
            </div>
            

            <div class="flex justify-center items-start flex-col w-1/2">
                {{form.confirm.label(class="font-bold")}}
                {{form.confirm(placeholder='Confirma',class="bg-[#1B1A1A] text-white px-8 pl-4 py-2 lg:px-12 lg:pl-2 xl:py-2 xl:pl-4 xl:px-24 rounded text-left outline-none w-full")}}

                {% if form.confirm.errors %}
                    <p class="text-[12px] text-[#C40C0C] mt-1">{{form.confirm.errors[0]}}</p>
                {% elif form.password.errors %}
                <!-- Lo pongo para que no se descuadren los inputs -->
                    <p class="text-[12px] text-black mt-1 opacity-0">This field is required</p>
                {% endif %}
            </div>
        
        </div>
        
        <p class="text-white font-semibold">¿Ya tienes cuenta? <a href="{{url_for('auth.login')}}" class="text-[#C40C0C]">Iniciar Sesión</a></p>

        

        {{form.submit(class="cursor-pointer text-white font-bold text-center bg-[#C40C0C] rounded text-white px-8 py-3 text-center w-full") }}

       
    </form>
</section>

<div class="w-full flex justify-between max-[320px]:mt-0 mt-12 sm:mt-0">
    <!-- Personaje Izquierdo -->
    <img 
      src="{{url_for('static',filename='images/footer_personajes/leopardo_register.png')}}" 
      alt="Personaje Izquierdo"
      class="bottom-[270px] right-0 translate-y-[30%] md:translate-y-[10%] lg:translate-y-[-20%] xl:translate-y-[-100%] max-[320px]:w-[28vh] w-[22vh] min-[568px]:w-[60vh] sm:w-[60vh] landscape:md:w-[60vh] md:w-[30vh] md:mb-[20px] landscape:lg:w-[50vh] landscape:lg:h-[55vh]  landscape:lg:mb-[-105px] landscape:xl:mb-[-505px] max-[320px]:mb-[25px] mb-[40px] z-[-1]"
    />

    <!-- Personaje Derecho -->
    <img 
      src="{{url_for('static',filename='images/footer_personajes/tigre_register.png')}}" 
      alt="Personaje Derecho"
      class="bottom-[270px] right-0 translate-y-[30%] md:translate-y-[10%] lg:translate-y-[-20%] xl:translate-y-[-100%] max-[320px]:w-[28vh] w-[22vh] min-[568px]:w-[60vh] sm:w-[60vh] landscape:md:w-[60vh] md:w-[30vh] md:mb-[20px] landscape:lg:w-[50vh] landscape:lg:h-[55vh]  landscape:lg:mb-[-105px] landscape:xl:mb-[-505px] max-[320px]:mb-[25px] mb-[40px] z-[-1]"
    />
</div>



{% endblock %}