{% extends './layout.html' %}

{% block title %}Register{% endblock %}

{% block body %}

<section class="flex flex-col justify-center items-center mt-[80px] md:mt-[120px] mb-12 gap-4">
    <h1 class="text-[#C40C0C] font-bold text-[30px] xl:text-[40px]">KRAFTBOOST</h1>
    
    <form action="" class="flex flex-col justify-center items-center gap-4 text-white px-4">

        <div class="flex flex-row justify-center items-center gap-2">
            <div class="flex justify-center items-start flex-col w-1/2">
                <label for="" class="font-bold">*Nombre</label>
                <input type="text" placeholder="Antonio" class="bg-[#1B1A1A] text-white placeholder-white px-8 pl-4 py-2 lg:px-12 lg:pl-2 xl:py-3 xl:pl-4 xl:px-24 rounded text-left outline-none w-full">
            </div>

            <div class="flex justify-center items-start flex-col w-1/2">
                <label for="" class="font-bold">*Apellidos</label>
                <input type="text" placeholder="Gutiérrez" class="bg-[#1B1A1A] text-white placeholder-white px-8 pl-4 py-2 lg:px-12 lg:pl-2 xl:py-3 xl:pl-4 xl:px-24 rounded text-left outline-none w-full">
            </div>
        </div>

        <div class="flex justify-center items-start flex-col w-full">
            <label for="" class="font-bold">*Correo electrónico</label>
            <input type="email" placeholder="ejemplo@ejemplo.es" class="bg-[#1B1A1A] text-white placeholder-white px-8 pl-4 py-2 lg:px-12 lg:pl-2 xl:py-3 xl:pl-4 xl:px-24 rounded text-left outline-none w-full">
        </div>

        <div class="flex flex-row justify-center items-center gap-2">
            <div class="flex justify-center items-start flex-col w-1/2">
                <label for="" class="font-bold">*Username</label>
                <input type="text" placeholder="Jose05" class="bg-[#1B1A1A] text-white placeholder-white px-8 pl-4 py-2 lg:px-12 lg:pl-2 xl:py-3 xl:pl-4 xl:px-24 rounded text-left outline-none w-full">
            </div>

            <div class="flex justify-center items-start flex-col w-1/2">
                <label for="" class="font-bold">Teléfono</label>
                <input type="tel" placeholder="99999999" class="bg-[#1B1A1A] text-white placeholder-white px-8 pl-4 py-2 lg:px-12 lg:pl-2 xl:py-3 xl:pl-4 xl:px-24 rounded text-left outline-none w-full">
            </div>
        </div>

        <div class="flex justify-center items-start flex-col w-full">
            <label for="" class="font-bold">*Fecha de nacimiento</label>
            <input type="date" placeholder="dd/mm/aaaa" class="bg-[#1B1A1A] text-white placeholder-white px-8 pl-4 py-2 lg:px-12 lg:pl-2 xl:py-3 xl:pl-4 xl:px-24 rounded text-left outline-none w-full">
        </div>

        
        <div class="flex flex-row justify-center items-center gap-2">
            <div class="flex justify-center items-start flex-col w-1/2">
            <label for="" class="font-bold">*Contraseña</label>
            <input type="password" placeholder="Tu contraseña" class="bg-[#1B1A1A] text-white placeholder-white px-8 pl-4 py-2 lg:px-12 lg:pl-2 xl:py-3 xl:pl-4 xl:px-24 rounded text-left outline-none w-full">
        </div>

        <div class="flex justify-center items-start flex-col w-1/2">
            <label for="" class="font-bold">*Confirmar</label>
            <input type="password" placeholder="Confirma" class="bg-[#1B1A1A] text-white placeholder-white px-8 pl-4 py-2 lg:px-12 lg:pl-2 xl:py-3 xl:pl-4 xl:px-24 rounded text-left outline-none w-full">
        </div>

        </div>
        
        <p class="text-white font-semibold">¿Ya tienes cuenta? <a href="{{url_for('auth.login')}}" class="text-[#C40C0C]">Iniciar Sesión</a></p>

        <a href="{{url_for('home.home')}}" class="bg-[#C40C0C] rounded text-white px-8 py-2 text-center w-full"><button type="submit" class="text-white font-bold text-center">Crear Cuenta</button></a>
    </form>
</section>

<div class="w-full flex justify-between max-[320px]:mt-0 mt-12 sm:mt-0">
    <!-- Personaje Izquierdo -->
    <img 
      src="{{url_for('static',filename='images/footer_personajes/leopardo_register.png')}}" 
      alt="Personaje Izquierdo"
      class="bottom-[270px] right-0 translate-y-[30%] md:translate-y-[10%] lg:translate-y-[-20%] xl:translate-y-[-100%] max-[320px]:w-[28vh] w-[22vh] min-[568px]:w-[60vh] sm:w-[60vh] landscape:md:w-[60vh] md:w-[30vh] md:mb-[20px] landscape:lg:w-[50vh] landscape:lg:h-[55vh]  landscape:lg:mb-[-105px] landscape:xl:mb-[-505px] max-[320px]:mb-[25px] mb-[40px] z-[-1]"
    />

    <!-- Personaje Derecho -->
    <img 
      src="{{url_for('static',filename='images/footer_personajes/tigre_register.png')}}" 
      alt="Personaje Derecho"
      class="bottom-[270px] right-0 translate-y-[30%] md:translate-y-[10%] lg:translate-y-[-20%] xl:translate-y-[-100%] max-[320px]:w-[28vh] w-[22vh] min-[568px]:w-[60vh] sm:w-[60vh] landscape:md:w-[60vh] md:w-[30vh] md:mb-[20px] landscape:lg:w-[50vh] landscape:lg:h-[55vh]  landscape:lg:mb-[-105px] landscape:xl:mb-[-505px] max-[320px]:mb-[25px] mb-[40px] z-[-1]"
    />
</div>



{% endblock %}